p{
    color: chartreuse;
    font-size: 30px;
    background-color: saddlebrown;
}

/* Class Name Sector  */
.My_Heading{
    color: deeppink;
}
.Safwan{color: blueviolet;}
/* ID SELECTOR */
#Holla {color: rgb(214, 203, 44);}

/* Text style */
body{background-image:url("sb\ web.jpg");
background-size: cover;
background-position: center;
height: 400px;
width: 400px;
font-family: "Roboto", sans-serif;

}
p{
color: brown;
background-color: color-mix(in hwb longer hue, color percentage, color percentage);    
font-size: 50px;
text-align: center;
font-weight: 50;
font-family: Verdana, Geneva, Tahoma, sans-serif;
